- throw_content :title, "Log in to waferbaby"
%h2= "Log in", session[:return_to] ? " first" : nil
%p Comment, customise things.
= form(:action => url(:login)) do
  %p= text_field(:name => "username", :label => "Username:")
  %p= password_field(:name => "password", :label => "Password:")
  %p= submit('Log in')