- throw_content :title, "Log in to waferbaby"
%h2= "Log in", session[:return_to] ? " first" : nil
%p Comment, customise things.
= form(:action => url(:login)) do
  = text_field(:name => "username", :label => "Username:"), self_closing_tag('br')
  = password_field(:name => "password", :label => "Password:"), self_closing_tag('br')
  = check_box(:name => "remember_me", :label => "Remember my details:"), tag('span', "Only do this on your own computer, yeah? It'll remember you for 2 weeks."), self_closing_tag('br')
  = submit('Log in')