%entry
  %title= @person.username
  %id= "urn:uuid:#{@person.uuid}"
  %link{:href => "http://waferbaby.com" + resource(@person)}
  %updated= @person.updated_at
  %published= @person.created_at
  %author
    %name= name_for_person(@person)
  %content{:type => "xhtml"}
    %div{:xmlns => "http://www.w3.org/1999/xhtml"}