.item.person
  %h3= link_to_person(@person)
  %p.summary= link_to(time_ago_in_words(@person.created_at) + " ago.", date_url_for(@person, 'people'), :title => "View people who signed up on #{@person.created_month_short_name} #{@person.created_day}, #{@person.created_year}.")  