- throw_content :title, "People on waferbaby"
- throw_content :uuid, "85fee99d-a8f2-4fd7-9bdd-c2cf27115967"
- throw_content :url, "/people"
- throw_content :author, "Everyone on waferbaby"
- throw_content :updated, @people[0].updated_at

- @people.each do |@person|
  %entry
    %title= name_for_person(@person)
    %id= "urn:uuid:#{@person.uuid}"
    %link{:href => "http://waferbaby.com" + resource(@person)}
    %updated= @person.updated_at
    %published= @person.created_at
    %author
      %name= name_for_person(@person)
    %content{:type => "xhtml"}
      %div{:xmlns => "http://www.w3.org/1999/xhtml"}