- throw_content :title, "Come join waferbaby"
= display_errors_for(@person)

%h2 Sign up
%p Come and join the party. It's all happening here. Wee.
= form_for(@person, :action => url(:people)) do
  = text_field(:username, :label => "Username:"), tag('span', "This needs to be unique (and 2-40 characters)"), self_closing_tag('br')
  = text_field(:email_address, :label => "Email address:"), tag('span', "And this won't get abused. Promise."), self_closing_tag('br')
  = password_field(:password, :label => "Password:"), tag('span', "And this needs to be between 4-40 characters."), self_closing_tag('br')
  = password_field(:password_confirmation, :label => "Password (confirm):"), tag('span', "And this should be the same as above."), self_closing_tag('br')
  = submit("Sign up"), "By signing up, you agree to our modest, reasonable ", link_to("terms and conditions", url(:terms), :title => "View the boring legal-type information."), "."