- throw_content :title, "Come join waferbaby"
= display_errors_for(@person)

%h2 Sign up
%p Come and join the party. It's all happening here. Wee.
= form_for(@person, :action => url(:people)) do
  = text_field(:username, :label => "Username:"), self_closing_tag('br')
  = text_field(:email_address, :label => "Email address:"), self_closing_tag('br')
  = password_field(:password, :label => "Password:"), self_closing_tag('br')
  = password_field(:password_confirmation, :label => "Password (confirm):"), self_closing_tag('br')
  = submit "Sign up"