- throw_content :title, "#{h(@person.username)} on waferbaby"
%h2
  = name_for_person(@person)
  = "(#{link_to("Edit", url(:edit_person, @person), :title => "Change your profile.")})" if @person == current_person
- unless @person.profile.blank?
  = markup(@person.profile)
- else
  %p Nothing to see here.