- throw_content :title, "#{name_for_person(@person)} on waferbaby"
%h2 This is..
%h3
  = icon_for_person(@person), name_for_person(@person)
  = "(#{link_to("Edit", url(:edit_person, @person), :title => "Change your profile.")})" if @person == current_person
%p.date= link_to(time_ago_in_words(@person.created_at) + " ago.", date_url_for(@person, 'people'), :title => "View people who signed up on #{@person.created_month_short_name} #{@person.created_day}, #{@person.created_year}.")  
- unless @person.profile.blank?
  = markup(@person.profile)
- else
  %p Nothing to see here.