%entry
  %title= @interview.title
  %id= "urn:uuid:#{@interview.uuid}"
  %link{:href => "http://waferbaby.com" + resource(@interview)}
  %updated= @interview.updated_at
  %published= @interview.created_at
  %author
    %name waferbaby
  %content{:type => "xhtml"}
    %div{:xmlns => "http://www.w3.org/1999/xhtml"}
      = markup(@interview.contents)