- throw_content :title, "The Setup on waferbaby"
- throw_content :uuid, "36531197-803a-4461-91ac-d1a5678b851f"
- throw_content :url, "/setup"
- throw_content :author, "waferbaby"
- throw_content :updated, @interviews[0].updated_at

- @interviews.each do |@interview|
  %entry
    %title= @interview.title
    %id= "urn:uuid:#{@interview.uuid}"
    %link{:href => "http://waferbaby.com" + resource(@interview)}
    %updated= @interview.updated_at
    %published= @interview.created_at
    %author
      %name waferbaby
    %content{:type => "xhtml"}
      %div{:xmlns => "http://www.w3.org/1999/xhtml"}
        = markup(@interview.contents, false)