- throw_content :title, "#{h(@interview.title)} on waferbaby"
%h2= "An interview with ", @interview.title
= image_tag('setup/' + @interview.slug + '.jpg', :width => 500, :height => 335, :class => 'setup', :alt => @interview.title)
= markup('<cite>' + @interview.credits + '</cite>', false) unless @interview.credits.blank?
= markup(@interview.contents)