- throw_content :title, "#{h(@interview.title)} on waferbaby"
%h2= "An interview with ", @interview.title
%p
  = image_tag('setup/' + @interview.slug + '.jpg', :width => 500, :height => 335, :class => 'setup')
  - unless @interview.credits.blank?
    %br
    %span.credits= @interview.credits
= markup(@interview.contents)