!!! Strict
%html{html_attrs}
  %head
    %title= "waferbaby#{" : " + catch_content(:title) unless catch_content(:title).blank?}"
    = css_include_tag :screen, :media => :screen
    = css_include_tag :mobile, :media => "only screen and (max-device-width: 480px)"
    %meta{:name => "viewport", :content => "width=760"}
    - unless catch_content(:atom_feed).blank?
      %link{:href => "http://waferbaby.com" + catch_content(:atom_feed) + ".atom", :type => 'application/atom+xml', :rel => 'alternate', :title => "Atom feed"}
  %body
    #header
      %h1 waferbaby
      %ul#navigation
        %li.posts
          = link_to("Read", url(:default), :title => "View the latest drivel.")
        %li.wallscrawl
          = link_to("Scrawl", url(:scrawls), :title => "The voice of the unwashed masses.")
        %li.people
          = link_to("Stalk", url(:people), :title => "Them humans what make the site good.")
        - unless logged_in?
          %li.login
            = link_to("Log in", url(:login), :title => "Sign into your account.")
          %li.signup
            = link_to("Sign up", url(:signup), :title => "Carve your name into the community.")
        - else
          %li.logout
            = link_to("Log out", url(:logout), :title => "Don't leave me!")
    #content
      - unless session[:message].blank?
        %p#message= session_message 
      = catch_content :for_layout
    %p#footer
      We eat bandwidth for breakfast
      = "(", link_to("More", url(:about), :title => "The most useless page like, wow, evar."), ")."
      Sorry about that.