!!! Strict
%html{html_attrs}
  %head
    %title= catch_content(:title).blank? ? "waferbaby" : catch_content(:title)
    = css_include_tag :screen, :media => :screen
    = css_include_tag :mobile, :media => "only screen and (max-device-width: 480px)"
    - unless catch_content(:feed).blank?
      %link{:href => "http://waferbaby.com" + catch_content(:feed) + ".atom", :type => 'application/atom+xml', :rel => 'alternate', :title => "Atom feed"}
    %meta{:name => "viewport", :content => "width=760"}
  %body
    #header
      %h1= link_to("waferbaby", url(:default), :title => "View the latest drivel.", :class => "posts")
      %ul.navigation#main
        %li= link_to("People", url(:people), :title => "Them humans what make the site good.", :class => "people")
        %li= link_to("'scrawl", url(:scrawls), :title => "The voice of the unwashed masses.", :class => "wallscrawl")
      %ul.navigation#person
        - unless logged_in?
          %li= link_to("Log in", url(:login), :title => "Sign into your account.", :class => "login")
          %li= link_to("Sign up", url(:signup), :title => "Carve your name into the community.", :class => "signup")
        - else
          %li= link_to(tag('strong', name_for_person(current_person)), resource(current_person), :title => "View and edit your profile.", :class => "profile")
          %li= link_to("Log out", url(:logout), :title => "Don't leave me!", :class => "logout")    
    #content
      - unless session[:message].blank?
        %p#message= session_message 
      = catch_content :for_layout
    %p#footer= "We eat bandwidth for breakfast (#{link_to("More", url(:about), :title => "The most useless page like, wow, evar.")})."