.post{:id => 'post-' + @post.id.to_s}
  %h3
    %a.date{:href => date_url_for(@post, 'posts'), :title => "View all posts from #{@post.created_month_short_name} #{@post.created_day}, #{@post.created_year}."}
      %span.month= @post.created_month_short_name
      %span.day= @post.created_day
    - if @post.is_selected
      = @post.title
    - else
      = link_to(@post.title, resource(@post), :title => "View '#{h(@post.title)}'.")
  %p.summary
    = "There #{@post.comments.length == 1 ? "is" : "are"} #{link_to("#{@post.comments.length == 0 ? 'no' : @post.comments.length} comment#{'s' if @post.comments.length != 1}", resource(@post) + "#comments")} on this post."
  .contents
    - if @post.is_selected
      = markup(@post.contents)
    - else
      = markup(summary(@post.contents) + " [More...](#{resource(@post)} \"Read the full post.\")")
  - if @post.is_selected
    #comments
      %h2= "Comments (#{link_to("Add", url(:new_post_comment), :title => "Add a comment.")})"
      - unless @post.comments.length < 1
        - @post.comments.each do |@comment|
          = partial 'comments/comment'
      - else
        %p Be the first to comment!